# Ignore node_modules and env files
frontend/node_modules/
backend/comment_service/node_modules/
backend/message_broker/node_modules/
backend/snippet_service/node_modules/
backend/query_service/node_modules/
frontend/.env
backend/.env

# Optional: ignore log files, OS junk, etc.
*.log
.DS_Store
